

nav{
  box-shadow: 3px 3px 10px ;
}

::-webkit-scrollbar {
  display: none;
}

.messageInp {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.msgButton {
  padding: 10px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

form button:hover {
  background-color: #21a1f1;
}


.typing-wave {
  display: flex;
  gap: 2px;
  margin-top: 20px;
}

.typing-dot {
  width: 8px;
  height: 8px;
  /* background-color: rgb(171, 169, 169); */
  border-radius: 100%;
  animation: typing-wave 1s infinite;
}

.typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing-wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-8px);
  }
}

.NOTI{
  z-index: 1000;
}
h1 {
  color: hsl(0, 0%, 0%);
  cursor: pointer;
  display: inline-block;
  letter-spacing: 3px;
}

@keyframes wave {
  0%, 100% {
    color: #000000;
  }
  50% {

    color: #100061;
  }
}

h1 span {
  display: inline-block;
  transition: 1s ease-out;
  animation: wave 2s ease-in-out infinite;
}

.loading div{
  display: inline-block;
  transition: 1s ease-out;
  animation: wave1 2s ease-in-out infinite;
}

@keyframes wave1 {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

.loading div:nth-child(1){
  animation-delay: 0s;
}

.loading div:nth-child(2){
  animation-delay: 0.4s;
}

.friendbox{
  box-shadow: 2px 2px 5px inset, -2px -2px 5px inset; 
}

